  <div class="footer">
    <p>
      Made by Erik Vega
      <a href="https://www.linkedin.com/in/erikvegax/" target="_blank"><i class="fab fa-linkedin icons"></i></a>
    </p>
  </div>
</body>
</html>
